* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none; }

.header {
  background-color: #FF8D29; }
  .header__nav {
    padding: 0px 15px; }
    .header__nav__titulo {
      font-size: 2.5rem;
      color: white;
      font-style: italic;
      font-family: 'Anton', sans-serif;
      text-decoration: none; }
    .header__nav__titulo:hover {
      color: white; }
    .header__nav__ul__li__a {
      font-size: 1.8rem;
      text-decoration: none;
      color: white;
      font-family: 'Anton', sans-serif;
      margin: 0px 50px; }
    .header__nav__ul__li__a:hover {
      font-size: 1.8rem;
      color: white; }
    .header__nav__ul__li__carro {
      width: 80px;
      height: 80px;
      cursor: pointer; }

.position {
  left: 100%;
  top: 30%; }

.navbar-light .navbar-toggler {
  border-color: white; }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; }

.centrado {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.hidden {
  overflow: hidden; }

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.main {
  background-color: #541690; }

.home {
  padding: 30px 0px; }
  .home__titulo {
    font-size: 2.5rem;
    color: white;
    font-family: 'Anton', sans-serif; }
  .home__parrafo {
    font-size: 1.5rem;
    color: white; }

.img-edit {
  object-fit: cover;
  height: 350px;
  width: 100%;
  border: 3px solid #FF8D29; }

.tienda {
  padding: 30px 0px;
  border-bottom: 2px solid white; }
  .tienda__titulo {
    font-size: 2rem;
    color: white;
    font-family: 'Anton', sans-serif; }
  .tienda__containerEdit__parrafo {
    font-size: 1.8rem;
    font-style: italic;
    color: white;
    padding-top: 10px; }
  .tienda__containerEdit__botonAMD {
    box-shadow: 0px 2px 15px -1px #ef0707;
    margin: 0px 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 10%;
    background-color: #ef0707;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid #ef0707; }
  .tienda__containerEdit__botonIntel {
    box-shadow: 0px 2px 15px -1px #127CC1;
    margin: 0px 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 10%;
    background-color: #127CC1;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid #127CC1; }
  .tienda__containerEdit__botonAmbos {
    box-shadow: 0px 2px 15px -1px white;
    margin: 0px 20px;
    padding: 10px 25px 10px 25px;
    border-radius: 10%;
    background-color: white;
    color: black;
    font-family: 'Anton', sans-serif;
    border: 2px solid white; }
  .tienda__containerEdit .dimension {
    width: 200px; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFCD38;
  background-clip: border-box;
  border: 2px solid #FF8D29;
  border-radius: .25rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  border-top: 2px solid #FF8D29; }

.card-body-canva {
  flex: 1 1 auto;
  padding: 1rem 1rem; }

.card-precio {
  font-size: 1.3rem;
  font-style: italic;
  margin: 0 !important; }

.offcanvas-header {
  background-color: black;
  padding: 10px; }
  .offcanvas-header h5 {
    color: white;
    font-family: 'Anton', sans-serif; }
  .offcanvas-header .btn-close {
    background-color: white; }

.divCanvaFooter {
  background-color: black;
  padding: 10px; }
  .divCanvaFooter p {
    color: white; }

.buttonClassAMD {
  font-size: 13px;
  width: 110px;
  height: 40px;
  border-width: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 2px 15px -1px #ef0707;
  background-color: #ef0707;
  color: white;
  font-family: 'Anton', sans-serif;
  border: 2px solid #ef0707; }

.buttonClassINTEL {
  font-size: 13px;
  width: 110px;
  height: 40px;
  border-width: 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 2px 15px -1px #127CC1;
  background-color: #127CC1;
  color: white;
  font-family: 'Anton', sans-serif;
  border: 2px solid #127CC1; }

.contacto {
  padding: 30px 0px; }

.form {
  display: block;
  max-width: 720px;
  margin: 0 auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px; }

.field {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

label {
  font-size: 1.2rem;
  margin: 10px 0px; }

input {
  width: 100%;
  height: 40px;
  color: black;
  font-size: 1rem; }

textarea {
  width: 100%;
  height: 200px;
  margin: 10px 0px;
  color: black;
  font-size: 1rem; }

.h5-text {
  font-size: 2rem;
  font-family: 'Anton', sans-serif;
  color: black; }

.h6-text {
  font-size: 1.5rem;
  color: black; }

.buttonStyle {
  background-color: black;
  color: white;
  font-size: 1.5rem;
  height: 50px; }

.footer {
  background-color: #FF8D29;
  padding: 5px; }
  .footer .p {
    color: white;
    font-size: 2rem; }

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .contenedor-nav-span {
    display: flex;
    flex-direction: row-reverse; } }
