$titulo: 2.5rem;
$links: 1.8rem;
$blanco: white;

.header{
    background-color: black;
    
    

    

    &__nav{
        
        padding: 0px 15px;

        &__titulo{
            font-size: $titulo;
            color: $blanco;
            font-style: italic;
            text-decoration: none;
        }
    
        &__titulo:hover{
            color: $blanco;
        }

        &__ul{
            &__li{
                &__a{
                    font-size: $links;
                    text-decoration: none;
                    color: $blanco;
                    margin: 0px 50px;
                }
                &__a:hover{
                    font-size: $links;
                    color: $blanco;
                }

                &__carro{
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

}