$titulo: 2.5rem;
$links: 1.8rem;
$blanco: white;

.header{
    background-color: #FF8D29;
    
    

    

    &__nav{
        
        padding: 0px 15px;

        &__titulo{
            font-size: $titulo;
            color: $blanco;
            font-style: italic;
            font-family: 'Anton', sans-serif;
            text-decoration: none;
        }
    
        &__titulo:hover{
            color: $blanco;
        }

        &__ul{
            &__li{
                &__a{
                    font-size: $links;
                    text-decoration: none;
                    color: $blanco;
                    font-family: 'Anton', sans-serif;
                    margin: 0px 50px;
                }
                &__a:hover{
                    font-size: $links;
                    color: $blanco;
                }

                &__carro{
                    width: 80px;
                    height: 80px;
                    cursor: pointer;
                }
            }
        }
    }

}

.position{
    left: 100%;
    top: 30%;
}

.navbar-light .navbar-toggler {
    border-color: white;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}