$fuenteTitulo: 2.5rem;
$fuenteParrafo: 1.5rem;
$blanco: white;

.home{
    padding: 30px 0px;
    border-bottom: 2px solid $blanco;

    &__titulo{
        font-size: $fuenteTitulo;
        color: $blanco;
    }
    &__parrafo{
        font-size: $fuenteParrafo;
        color: $blanco;
    }
}