$fuenteTitulo: 2.5rem;
$fuenteParrafo: 1.5rem;
$color: white;

.home{
    padding: 30px 0px;

    &__titulo{
        font-size: $fuenteTitulo;
        color: $color;
        font-family: 'Anton', sans-serif;
    }
    &__parrafo{
        font-size: $fuenteParrafo;
        color: $color;
    }
}

.img-edit{
    object-fit: cover;
    height: 350px;
    width: 100%;
    border: 3px solid #FF8D29;
}