$fuenteTitulo: 2.0rem;
$fuenteParrafo: 1.8rem;
$color: white;

.tienda{
    padding: 30px 0px;
    &__titulo{
        font-size: $fuenteTitulo;
        color: $color;
        font-family: 'Anton', sans-serif;
    }
    &__containerEdit{

        &__parrafo{
            font-size: $fuenteParrafo;
            font-style: italic;
            color: $color;
            padding-top: 10px;
        }

        &__botonAMD{
            box-shadow: 0px 2px 15px -1px #ef0707;
            margin: 0px 20px;
            padding: 10px 25px 10px 25px;
            border-radius: 10%;
            background-color: #ef0707;
            color: white;
            font-family: 'Anton', sans-serif;
            border: 2px solid #ef0707;
        }

        &__botonIntel{
            box-shadow: 0px 2px 15px -1px #127CC1;
            margin: 0px 20px;
            padding: 10px 25px 10px 25px;
            border-radius: 10%;
            background-color: #127CC1;
            color: white;
            font-family: 'Anton', sans-serif;
            border: 2px solid #127CC1;
        }

        &__botonAmbos{
            box-shadow: 0px 2px 15px -1px $color;
            margin: 0px 20px;
            padding: 10px 25px 10px 25px;
            border-radius: 10%;
            background-color: $color;
            color: black;
            font-family: 'Anton', sans-serif;
            border: 2px solid $color;
        }

        .dimension{
            width: 200px;
        }
        
    }

}

.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FFCD38;
    background-clip: border-box;
    border: 2px solid #FF8D29;
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    border-top: 2px solid #FF8D29;
}

.card-body-canva{
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-precio{
    font-size: 1.3rem;
    font-style: italic;
    margin: 0!important;
}

.offcanvas-header{
    background-color: black;
    padding: 10px;

    h5{
        color: white;
        font-family: 'Anton', sans-serif;
    }

    .btn-close{
        background-color: white;
    }
}

.divCanvaFooter{
    background-color: black;
    padding: 10px;

    p{
        color: white;
    }


}


.buttonClassAMD {
    font-size:13px;
    width:110px;
    height:40px;
    border-width:1px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 2px 15px -1px #ef0707;
    background-color: #ef0707;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid #ef0707;
  }

.buttonClassINTEL{
    font-size:13px;
    width:110px;
    height:40px;
    border-width:1px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 2px 15px -1px #127CC1;
    background-color: #127CC1;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid #127CC1;
}


.buttonMP{
    box-shadow: 0px 2px 15px -1px #127CC1;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #127CC1;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid #127CC1;
}

.disabled{
    box-shadow: 0px 2px 15px -1px gray;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: gray;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid gray;
    cursor: default !important;;
}

.buttonVaciar{
    box-shadow: 0px 2px 15px -1px #ef0707;
    border-radius: 10px;
    margin: 5px 0px;
    background-color: #ef0707;
    color: white;
    font-family: 'Anton', sans-serif;
    border: 2px solid #ef0707;
}