*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none
}

@import "./header";

@import "./preloader";

@import "./main";

@import "./home";

@import "./tienda";

@import "./contacto";

@import "./footer";

@import "./media";